
<h4>Create City</h4>
{{ request }}
<br>
<form action="/city_create/" method="POST">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>

    <label for="county">County:</label>
    <input type="text" name="county" id="county">
    <br>

    <label for="zip_code">Zip Code:</label>
    <input type="text" name="zip_code" id="zip_code">
    <br>

    <label for="latitude">Latitude:</label>
    <input type="text" name="latitude">
    <br>

    <label for="longitude">Longitude:</label>
    <input type="text" name="longitude" id="longitude">
    <br>

    <input type="submit" value="Create">
    
    <select name="state" id="state">
        <option value="">Select A State</option>
        {% for state in states %}
            <option value="{{state.pk}}">{{state.name}}</option>
        {% endfor %}

    </select>

</form>
{{ created }}